* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --dark: rgb(3, 3, 27);
    --header: rgb(35, 35, 75);
    --inputs: rgb(250, 250, 250, 0.6);
}

#root {
  background-color: var(--dark);
  width: 100%;
  height: 100%
}

body {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: white;
  padding: 10px 0px;
  font-size: 3rem;
  margin: auto;
}

h1, .cv {
  font-family: 'EB Garamond', serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
}

.color-div {
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.color, #color {
  margin: 0 auto;
  padding: 0;
  background-color: var(--dark);
}

.color:hover, #color:hover {
  cursor: pointer;
}

.inputs {
  font-family: 'Raleway', sans-serif;
  background-color: var(--inputs);
  padding: 10px;
}

.general-info-div, .education-div, .experience-div {
  padding: 5px 0px;
}

.input-heading {
  font-weight: 600;
  font-size: 1.1rem;
  padding-bottom: 5px;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

label {
  font-size: 0.9rem;
  margin: 5px 0;
}

input {
  margin: 5px 0;
  height: 25px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

button {
  border-radius: 5px;
  border: none;
  background-color: var(--dark);
  color: antiquewhite;
  transition: transform .5s ease-in-out;
  padding: 5px 20px;
  align-self: flex-end;
  margin-top: 5px;
  font-size: 1em;
}

.edit, .delete {
  margin-right: 10px;
}

.save, .form-buttons-div {
  margin-right: 0px;
  margin-left: auto;
}

button:disabled, button:disabled:hover {
  background-color: dimgray;
  color: rgb(161, 159, 159);
  transform: scale(1);
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.cv {
  background-color: white;
  margin-top: 20px;
  aspect-ratio: 1/1.4142;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.generalcv-div {
  background-color: var(--header);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  min-height: 10%;
  width: 100%;
}

.general-section {
  padding: 5px;
  letter-spacing: 1.5;
}

.fullName {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 5px;
}

.edu-cv-section, .exp-cv-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8rem;
}

.edu-subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.school, .course, .grade,.endDate {
  margin: 2px;
}

.course, .title {
  font-weight: 600;

}

.grade {
  text-align: end;
  padding-right: 5px;
  font-weight: 600;
}

.endDate {
  text-align: end;
}

.edit {
  align-self: flex-end;
  padding: 3px 15px;
  font-size: 0.8rem;
}

h2 {
  padding-top: 10px;
  font-size: 1.2rem;
}

.exp-subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.company {
  text-align: end;
}

.tasks {
  grid-column-start: 1;
  grid-column-end: 3;
  font-style: italic;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
}

.startDate::after {
  content: " to";
}

.startDate {
  text-align: end;
}

.leaveDate {
  text-align: start;
  margin-left: 5px;
}

.cv-pdf {
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.save-text {
  margin-right: 10px;
}

.pdf-button {
  background-color: rgb(35, 35, 75);
  color: white;
  width: 150px;
  padding: 10px 0px;
  margin: 10px;
}

@media (min-width: 1000px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .inputs, .cv {
    width: 90%;
  }
}